.paymenttable td
{
    padding: 7px 10px;
}

.card-element2 {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 15px 5px;
  }

  .card-element2 button {
      margin-top: 10px;
    background: transparent;
    border-radius: 20px;
    border: 1px solid #2487ce;
    padding: 5px 20px;
    color: #2487ce;
    transition: 0.3s;
  }
  
  .card-element2 button:hover {
    background: #2487ce;
    color: white;
  }
  